/* All common Css Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1210px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* All common Css End */
/* All Header Part Start */
#headerPart {
    background: #f9f9fc;
    padding: 10px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.menu ul{
    display: flex;
    text-transform: uppercase;
    
}
.menu ul li a{
    padding: 0 25px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 70px;
}
.button a{
    text-transform: uppercase;
    background: #5E3BEE;
    padding: 10px 20px;
    border-radius: 50px;
    color:white;
    font-size: 16px;
    font-weight: 500;
}
.button i{
    margin-left: 10px;
}
/* All Header Part End */
/* Banner Part Start */
#bannerPart{
    background: #f9f9fc;
    padding-top: 15px;
    padding-bottom: 50px;
}
.bannerFlex{
    display: flex;
    
}
.bannerLeft{
    width: 50%;
}
.bannerLeft h4{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    padding-top: 120px;

}
.bannerLeft h1{
    font-size: 60px;
    font-weight: 700;
    width: 480px;
    padding-top: 40px;
    padding-bottom: 70px;
    line-height: 78px;
    color: #333333;
}
.bannerRight{
    width: 50%;
}
.bannerRight img{
    width: 100%;
}
.bannerButton a{
    text-transform: uppercase;
    background: #5E3BEE;
    padding: 25px ;
    border-radius: 50px;
    color:white ;
    font-size: 14px;
    font-weight: 500;
    transition: .7s;

}
.bannerButton a i{
    margin-right: 10px;
}
.bannerButton a:hover{
    background: rgba(255, 255, 255, 0);
    color: black;
}
/* Banner Part End */
/* All common Css Start */
.counterFlex{
    display: flex;
    justify-content: space-between;
}
.item{
    width: 23%;
    text-align: center;
    padding: 25px;
    box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.item h3{
    color: black;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 90px;
    

}
.item h4{
    font-size: 16px;
    font-weight: 500;
    color: #121212;
    padding-bottom: 50px;
}
/* All common Css End */
/* All common Css Start */
/* All common Css End */
/* All common Css Start */
/* All common Css End */