/* All common Css Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1210px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* All common Css End */
/* Header Part Start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    transition: .4s;
}

.logo:hover {
    transform: scale(1.25);
}

.menu ul {
    display: flex;
}

.menu ul li a {
    padding: 0 25px;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 100px;
    transition: .4s;
}

.menu ul li a:hover {
    font-size: 17px;
    font-weight: 700;
    color: tomato;
    background: wheat;
    padding: 10px 20px;
    border-radius: 25px;
}

.button a {
    text-transform: uppercase;
    padding: 10px 20px;
    background: #5E3BEE;
    color: #f9f9f9;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
}

.button a:hover {
    background: wheat;
    color: tomato;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 20px;
}

.button i {
    margin-left: 10px;
}

#headerPart {
    background: #f9f9fc;
    padding: 10px 0;
}

/* Header Part End */
/* Banner Part Start */
.banner {
    display: flex;
}

.bannerLeft {
    width: 50%;
}

.bannerLeft h1 {
    font-size: 60px;
    font-weight: 700;
    width: 480px;
    padding-top: 40px;
    padding-bottom: 70px;
    line-height: 78px;
    color: #333333;
}

.bannerLeft h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    padding-top: 120px;
}

.bannerButton a {
    text-transform: uppercase;
    background: #5E3BEE;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    transition: .7s;
}

.bannerButton a:hover {
    background: wheat;
    color: tomato;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 700;
}

/* Banner Part End */
/* Counter Part Start */
#counterPart {
    padding: 90px 0;
    background: #f9f9fc00;
}

.counterFlex {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 23%;
    text-align: center;
    box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 25px;
    transition: .4s;
    text-transform: uppercase;
}

.item:hover {
    transform: scale(1.1);
}

.item h3 {
    color: #000000;
    font-size: 48px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 15px;
}

.item h4 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 10px;
}

/* Counter Part End */
/* Service Part Start */
#servicePart {}

.serviceMain {
    height: 570px;

}

.service {
    height: 210px;
    position: relative;
}

.service img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.service h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #5E3BEE;
}

.service h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    font-size: 44px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.5%;
    width: 621px;
}

.service p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5%;
    text-align: center;
    width: 550px;
}

.serviceitem {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;

}

.sItem {
    text-align: center;
    padding: 50px 0;
    box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: .4s;
}

.sItem:hover {
    transform: scale(1.1);
}

.sItem h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 40px 0 10px;
}

.sItem p {
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(18, 18, 18, 0.7);
    width: 307px;
}

/* Service Part End */
/* All common Css Start */
.expPadding {
    padding: 135px 0 0 0;
}

.inpad {
    padding: 160px 0 0 115px;
}

.exp {
    background: url(../images/exp.svg);
    height: 778px;
}

.exp h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #5E3BEE;
}

.exp h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    width: 482px;

}

.exp p {
    font-size: 16px;
    font-weight: 400;
    width: 584px;
    color: #333333;
    line-height: 32px;
    letter-spacing: 0.5px;
    padding-bottom: 50px;
}

.inpad a {
    background: #5E3BEE;
    color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
    transition: .4s;
}

.inpad i {
    margin-right: 10px;
}

.inpad a:hover {
    background: wheat;
    color: tomato;
    font-size: 18px;
    font-weight: 700;
}

/* All common Css End */
/* All common Css Start */
#partnership {
    padding: 125px;
}

.imgholder img {
    width: 85%;
    display: flex;
    margin: 0 auto;

}

/* All common Css End */
/* All common Css Start */
/* All common Css End */
/* All common Css Start */
/* All common Css End */