/* All common Css Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.container{
    width: 1210px;
}
/* All common Css End */
/* All common Css Start */
/* All common Css End */
/* All common Css Start */
/* All common Css End */
/* All common Css Start */
/* All common Css End */
/* All common Css Start */
/* All common Css End */
/* All common Css Start */
/* All common Css End */